body{
    margin:0;
    padding:0;
}
.navbar{
    background-color:#034C53;
    color:white;
    padding:5px 20px;
    border-bottom:1px solid black;

    
}

.nav-logo{
    height:60px;
    padding:
}

.nav-link{
    text-decoration:none;
    color:white;
    margin:0 25px;
    font-size:20px;
    
}
.nav-menu{
    display:inline-block;
    padding-left:75%;

}

.nav-menu-selected{
    border-bottom:solid 4px white;
}



